<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lld360.cnc.repository.DocDownloadDao">

    <sql id="searchCondition">
        <where>
            <if test="userId != null">AND user_id = #{userId}</if>
            <if test="docId != null">AND doc_id = #{docId}</if>
            <if test="costScore != null">AND cost_score = #{costScore}</if>
            <if test="evaluate != null">AND evaluate = #{evaluate}</if>
            <if test="createTime != null">AND create_time = #{createTime}</if>
        </where>
    </sql>

    <sql id="columns">
        id, user_id userId, doc_id docId, cost_score costScore, evaluate, comment, create_time createTime
	</sql>

    <select id="search" parameterType="map" resultType="com.lld360.cnc.model.DocDownload">
        SELECT
        dd.id, dd.user_id userId, dd.doc_id docId, dd.cost_score costScore, dd.evaluate, dd.comment, dd.create_time
        createTime,u.name uName,u.nickname uNickname,d.title dTitle
        FROM doc_download dd
        LEFT JOIN `user` u ON u.id=dd.user_id
        LEFT JOIN `doc` d ON d.id=dd.doc_id
        <include refid="searchCondition"/>
        ORDER BY dd.create_time DESC
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM doc_download
        <include refid="searchCondition"/>
    </select>

    <select id="find" parameterType="long" resultType="com.lld360.cnc.model.DocDownload">
        SELECT
        <include refid="columns"/>
        FROM doc_download
        WHERE id = #{id}
    </select>

    <select id="hasDownload" resultType="java.lang.Boolean">
        SELECT COUNT(id) > 0 FROM doc_download WHERE user_id=#{userId} AND doc_id=#{docId}
    </select>

    <insert id="create" parameterType="com.lld360.cnc.model.DocDownload" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO doc_download (
            user_id,
            doc_id,
            cost_score,
            evaluate,
            comment,
            create_time
        ) VALUES (
            #{userId},
            #{docId},
            #{costScore},
            #{evaluate},
            #{comment},
            NOW()
        )
    </insert>

    <update id="update" parameterType="com.lld360.cnc.model.DocDownload">
        UPDATE doc_download
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="docId != null">doc_id = #{docId},</if>
            <if test="costScore != null">cost_score = #{costScore},</if>
            <if test="evaluate != null">evaluate = #{evaluate},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </set>
        WHERE id = #{id};
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM doc_download WHERE id = #{id}
    </delete>

</mapper> 
