<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lld360.cnc.repository.MonthReportDao">



    <!-- Map查询（可分页） -->
    <sql id="byMapConditions">
        <where>

            <!-- 起始时间不为空，结束时间为空 -->
            <if test="beginTime != null and beginTime != '' and(endTime == null or endTime == '') ">

                `statistics_date`  >= #{beginTime}
            </if>

            <!-- 起始时间不为空，结束时间不为空 -->

            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != '' ">

                `statistics_date`   between #{beginTime} and #{endTime}
            </if>

        </where>
    </sql>

    <!-- 根据条件查询阅读下载统计列表 -->
    <select id="search" parameterType="map" resultType="com.lld360.cnc.model.CncDaysStatistics">
        SELECT
        *
        FROM cnc_days_statistics
        <include refid="byMapConditions"/>
        ORDER BY create_date desc
        <if test="limit != null">LIMIT #{limit}</if>
        <if test="offset != null">OFFSET #{offset}</if>

    </select>


    <select id="totalSumsearch" parameterType="map" resultType="com.lld360.cnc.model.CncDaysStatistics">
        SELECT
        sum(article_views) articleViews,sum(article_downloads) articleDownloads,sum(doc_views) docViews,sum(doc_downloads) docDownloads
        FROM cnc_days_statistics
        <include refid="byMapConditions"/>

    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT
        count(*)
        FROM cnc_days_statistics
    </select>

    <!--//查询当天是否已有资料、文库统计量-->

    <select id="isHaveStatisticsInfo" parameterType="com.lld360.cnc.model.CncDaysStatistics" resultType="int" >
        SELECT
        count(*) count
        FROM cnc_days_statistics
        where to_days(#{statisticsDate}) = to_days(statistics_date);
    </select>

    <!--//增加资料月统计信息-->

    <insert id="addArticleMonthStatistics" parameterType="com.lld360.cnc.model.CncDaysStatistics" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cnc_days_statistics (
        article_views,
        article_downloads,
        doc_views,
        doc_downloads,
        statistics_date,
        create_date
        ) VALUE (
        #{articleViews},
        #{articleDownloads},
        #{docViews},
        #{docDownloads},
        #{statisticsDate},
        #{createDate}
        )
    </insert>

    <!--//更新资料月统计资料浏览量信息-->

    <update id="updateArticleMonthStatistics" parameterType="com.lld360.cnc.model.CncDaysStatistics">
        UPDATE cnc_days_statistics SET article_views = article_views + 1 WHERE to_days(#{statisticsDate}) = to_days(statistics_date)
    </update>


    <!--//增加文库月统计信息-->
    <insert id="addDocMonthStatistics" parameterType="com.lld360.cnc.model.CncDaysStatistics" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cnc_days_statistics (
        article_views,
        article_downloads,
        doc_views,
        doc_downloads,
        statistics_date,
        create_date
        ) VALUE (
        #{articleViews},
        #{articleDownloads},
        #{docViews},
        #{docDownloads},
        #{statisticsDate},
        #{createDate}
        )
    </insert>

    <!--//更新文库月统计浏览量信息-->

    <update id="updateDocViewsMonthStatistics" parameterType="com.lld360.cnc.model.CncDaysStatistics">
        UPDATE cnc_days_statistics SET doc_views = doc_views + 1 WHERE to_days(#{statisticsDate}) = to_days(statistics_date)
    </update>

    <!--//更新文库月统计下载量信息-->

    <update id="updateDocDownloadsMonthStatistics" parameterType="com.lld360.cnc.model.CncDaysStatistics">
        UPDATE cnc_days_statistics SET doc_downloads = doc_downloads + 1 WHERE to_days(#{statisticsDate}) = to_days(statistics_date)
    </update>


</mapper> 
