<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lld360.cnc.repository.SynonymDao">

    <!-- 通用查询结果列-->
    <sql id="baseColumns">
        id, words
    </sql>

    <select id="findSynonyms" parameterType="string" resultType="string">
        SELECT words
        FROM synonym
        WHERE words REGEXP #{regexpWords}
    </select>

</mapper>