<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lld360.cnc.repository.UserScoreHistoryDao">

    <sql id="searchCondition">
        <where>
            <if test="userId != null">AND user_id = #{userId}</if>
            <if test="type != null">AND `type` = #{type}</if>
            <if test="scoreChange != null">AND score_change = #{scoreChange}</if>
            <if test="objectId != null">AND object_id = #{objectId}</if>
            <if test="description != null">AND description LIKE "%"#{description}"%"</if>
        </where>
    </sql>

    <sql id="columns">
        id, user_id userId, `type`, score_change scoreChange, object_id objectId, description
    </sql>

    <select id="search" parameterType="map" resultType="com.lld360.cnc.model.UserScoreHistory">
        SELECT
        <include refid="columns"/>
        FROM user_score_history
        <include refid="searchCondition"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM user_score_history
        <include refid="searchCondition"/>
    </select>

    <select id="find" parameterType="long" resultType="com.lld360.cnc.model.UserScoreHistory">
        SELECT
        <include refid="columns"/>
        FROM user_score_history
        WHERE id = #{id}
    </select>

    <insert id="create" parameterType="com.lld360.cnc.model.UserScoreHistory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_score_history (
            user_id,
            `type`,
            score_change,
            object_id,
            description,
            create_time
        ) VALUES (
            #{userId},
            #{type},
            #{scoreChange},
            #{objectId},
            #{description},
            NOW()
        )
    </insert>

    <update id="update" parameterType="com.lld360.cnc.model.UserScoreHistory">
        UPDATE user_score_history
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="type != null">`type` = #{type},</if>
            <if test="scoreChange != null">score_change = #{scoreChange},</if>
            <if test="objectId != null">object_id = #{objectId},</if>
            <if test="description != null">description = #{description},</if>
        </set>
        WHERE id = #{id};
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM user_score_history
        WHERE id = #{id}
    </delete>

</mapper> 
