<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lld360.cnc.repository.WxGzhDao">

    <!-- 定义全局查询的SQL变量语句 -->
    <sql id="searchCondition">
        <where>
            <if test="name != null">`name` = #{name}</if>
            <if test="appid != null">appid = #{appid}</if>
            <if test="appsecret != null">appsecret = #{appsecret}</if>
            <if test="adminAccount != null">admin_account = #{adminAccount}</if>
            <if test="adminName != null">admin_name = #{adminName}</if>
            <if test="createTime != null">create_time = #{createTime}</if>
        </where>
    </sql>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
	    <![CDATA[
        id ,
        `name`,
        appid,
        appsecret,
        encoding_aes_key,
        admin_account,
        admin_name,
        create_time
        ]]>
	</sql>

    <select id="search" parameterType="map" resultMap="wxgzhMap">
        SELECT
        <include refid="columns"/>
        FROM wxgzh
        <include refid="searchCondition"/>
        <if test="limit != null">LIMIT #{limit}</if>
        <if test="offset != null">OFFSET #{offset}</if>
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT count(1)
        FROM wxgzh
        <include refid="searchCondition"/>
    </select>

    <select id="find" parameterType="long" resultMap="wxgzhMap">
        SELECT
        <include refid="columns"/>
        FROM wxgzh
        WHERE id = #{id}
    </select>

    <insert id="create" parameterType="com.lld360.cnc.model.WxGzh" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            wxgzh (
                name,
                appid,
                appsecret,
                encoding_aes_key,
                admin_account,
                admin_name,
                create_time
            ) VALUES (
            #{name},
            #{appid},
            #{appsecret},
            #{encodingAesKey},
            #{adminAccount},
            #{adminName},
            #{createTime}
        )
    </insert>

    <update id="update" parameterType="com.lld360.cnc.model.WxGzh">
        UPDATE wxgzh
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="appid != null">appid = #{appid},</if>
            <if test="appsecret != null">appsecret = #{appsecret},</if>
            <if test="encodingAesKey != null">encoding_aes_key = #{encodingAesKey},</if>
            <if test="adminAccount != null">admin_account = #{adminAccount},</if>
            <if test="adminName != null">admin_name = #{adminName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </set>
        WHERE id = #{id};
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM wxgzh
        WHERE id = #{id}
    </delete>


    <!-- 结果集mapper -->
    <resultMap id="wxgzhMap" type="com.lld360.cnc.model.WxGzh">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="appid" column="appid"/>
        <result property="appsecret" column="appsecret"/>
        <result property="encodingAesKey" column="encoding_aes_key"/>
        <result property="adminAccount" column="admin_account"/>
        <result property="adminName" column="admin_name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

</mapper> 
